<div class="container-fluid">
  <h1>Turtle Ontology Viewer</h1>
  <div class="row">
    <div class="col-md-12">
      <app-file-browser></app-file-browser>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-class-tree></app-class-tree>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <app-class-details></app-class-details>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-property-panel></app-property-panel>
        </div>
      </div>
    </div>
  </div>
</div>
