# Please rename this file to .env and fill in the required API keys and configurations before running the application.
OPENAI_API_KEY=
DEEPSEEK_API_KEY=
GOOGLE_API_KEY=
ANTHROPIC_API_KEY=
OLLAMA_HOST=http://127.0.0.1:11434
TOGETHER_API_KEY=
GROQ_API_KEY=

# Change the following configurations as needed for your environment and requirements.
GRAPHDB_URL=http://localhost:7200
# Google Gemini Model Configuration
LLM_PROVIDER=gemini
LLM_MODEL=gemini-2.5-flash
EMBEDDING_MODEL=models/gemini-embedding-001
COLLECTION_NAME=schema_3

# File Configurations
CONNECTIONS_FILE=./data/connections.txt
TABLE_STRUCTURE_FILE=./data/table_structure.txt
ONTOLOGY_EXTRACT_FILE=./data/turtle-schema.json
LOCAL_ONTOLOGIES_FOLDER=./local_ontologies/
OUTPUT_JSON_FILE=./data/selected_candidates.json
CONCEPTS_OF_ONTOLOGY=./data/GSIM_Concept.csv

CHROMADB_PATH=./data/chroma_db

SAVE_OUTPUT=True
SUGGESTED_TERMS_FILE=./data/suggested_terms.txt
TERMS_EMBEDDINGS_FILE=./data/embeddings.txt
TERMS_EMBEDDINGS_TABLE_FILE=./data/embeddings_table.txt
RETRIEVED_CANDIDATES_FILE=./data/retrieved_candidates.txt
RETRIEVED_CANDIDATES_TABLE_FILE=./data/retrieved_candidates_table.txt
RETRIEVED_CANDIDATES_LOG_FILE=./data/retrieved_candidates_log.txt
LLM_SELECTED_CONCEPTS_FILE=./data/llm_selected_concepts.txt
LLM_SELECTED_CONCEPTS_TABLE_FILE=./data/llm_selected_concepts_table.txt
LLM_SELECTED_CONCEPTS_LOG_FILE=./data/llm_selected_concepts_log.txt
SCHEMA_SUMMARY_FILE=./data/schema_summary.txt
